body{
    padding: 20px 40px;
    background-image: url(https://archibaldh.github.io/hoststuff/podium.png);
    background-position: 97% 97%;
    background-repeat: no-repeat;
    background-size: 8%;
}
span{
    font-size: 18px !important;
}
body p:first-of-type span{
    font-size: 26px !important;
    font-weight: bold;
}
#padding{
    padding: 20px 40px;
}
